.spod {
  display: inline-block;
  width: 200px;
  border-radius: 15px;
  background-color: aqua;
  padding-top: 40px;
  margin-left: 10px;
}
.ciemnyRoz {
  background-color: darkmagenta;
}
.col3 {
  background-color: greenyellow;
}
.niebieski {
  background-color: blue;
}
.wierzch {
  border-radius: 15px;
}
.w2 {
  background-color: pink;
}
.w3 {
  background-color: green;
}
.tytul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  margin: 0px;
  color: white;
}
.wartosc {
  font-size: 30px;
  font-weight: bolder;
  color: white;
  padding: 10px;
  margin: 0px;
}
.lastWeek {
  font-size: 12px;
  color: white;
  padding: 10px;
  margin: 0px;
}
